PORT=8082
ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=prompt_db
DB_SSLMODE=disable

# Redis Configuration (API Key Caches)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# RSA Public Key Path for Offline verification (From Auth Service)
RSA_PUBLIC_KEY_PATH=certs/public.key
